<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzP6oc4uv1hBSekAbzZGPKMiSDAKT97WU</string>
	<key>GCM_SENDER_ID</key>
	<string>971114195820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devpostapp</string>
	<key>PROJECT_ID</key>
	<string>devpostapp-d621a</string>
	<key>STORAGE_BUCKET</key>
	<string>devpostapp-d621a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971114195820:ios:8a7fd631a8adb1e686e149</string>
</dict>
</plist>